@use "sass:color";

.card {
  position: relative;
}

.sourceLink {
  display: block;
  text-align: center;
}

.deleteButton {
  position: absolute;
  z-index: 1;
  right: 0.4em;
  top: 0.4em;
  width: 1.5em;
  height: 1.5em;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;

  &:hover {
    color: lightgrey;
    background: darken(red, 10%);
    transform: scale(1.25);
  }
}