@use "sass:color";

.card {
  position: relative;
}

.sourceLink {
  display: block;
  text-align: center;
}

.scheduledTimestamp {
  font-size: 0.8em;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;

  .actionButtons {
    .actionButton {
      padding: 0.1em;
    }
  }

  .statusInfo {
    position: relative;

    .errorDetails {
      cursor: pointer;
      text-decoration: underline;
      font-size: 0.8em;
      position: absolute;
      right: 0;
      white-space: nowrap;
      &:hover {
        opacity: 0.5;
      }
    }

  }
}

.deleteButton {
  position: absolute;
  z-index: 1;
  right: 0.4em;
  top: 0.4em;
  width: 1.5em;
  height: 1.5em;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;

  &:hover {
    color: lightgrey;
    background: color.adjust(red, $lightness: -20%);
    transform: scale(1.25);
  }
}