.thumbnail {
  width: 100%;
  max-height: 15em;
  border-radius: 0.2em;
}

.imageContainer {
}

.duration {
  text-align: start;
  position: absolute;
  margin-top: -3.5em;
  margin-left: 0.4em;
  background: black;
  border-radius: 0.1em;
  padding: 0.1em;
  color: white;
}

.size {
  text-align: start;
  position: absolute;
  margin-top: -2em;
  margin-left: 0.4em;
  background: black;
  border-radius: 0.1em;
  padding: 0.1em;
  color: white;
}

.videoMetadataCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.videoTitle {
  margin-top: 0.5em;
}
