.thumbnail {
  border-radius: 0.2em;
  width: 100%;
  object-fit: contain;
}

.imageContainer {
  position: relative;
  text-align: center;
}

.duration {
  text-align: start;
  position: absolute;
  margin-top: -3.5em;
  margin-left: 0.4em;
  background: black;
  border-radius: 0.1em;
  padding: 0.1em;
  color: white;
}

.size {
  text-align: start;
  position: absolute;
  margin-top: -2em;
  margin-left: 0.4em;
  background: black;
  border-radius: 0.1em;
  padding: 0.1em;
  color: white;
}

.videoMetadataCard {
}

.videoTitle {
  margin-top: 0.5em;
  color: var(--text-color);
}

.videoSiteUrl {
  position: absolute;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.25);
    filter: brightness(1.5);
  }
}
