.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoText {
  text-wrap: nowrap;
}

.smallLogo {
  max-width: 4em;
}

.headerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
