.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

@media (max-width: 35em) {
  .header {
    flex-direction: column;
  }
}

.logoText {
  text-wrap: nowrap;
  color: var(--text-color);
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

.smallLogo {
  max-width: 4em;
}

.headerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
