.videoSnapshotsGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.videoSnapshotContainer {
  flex: 1 0 17.5em;
}

.videoSnapshot {
  position: relative;
}

.videoSnapshotImage {
  max-width: 100%;
  display: block;
}

.timestamp {
  position: absolute;
  background: black;
  border-radius: 0.1em;
  padding: 0.1em;
  color: white;
  right: 0;
  margin: 0.4em;
}
