- name: Install dependencies
  import_tasks: tasks/install-dependencies.yml

- name: Fetch git information
  import_tasks: tasks/git-info.yml

- name: Create output directory
  block:
    - set_fact:
        k8s_output_dir: .k8s-output

    - name: Delete existing output directory
      file:
        path: "{{ k8s_output_dir }}"
        state: absent

    - name: Create new output directory
      file:
        path: "{{ k8s_output_dir }}"
        state: directory

- name: Create K8s config file
  block:
    - name: Set kubeconfig file location
      set_fact:
        kube_config: "{{ k8s_output_dir }}/kubeconfig"

    - name: Create K8s config
      copy:
        dest: "{{ kube_config }}"
        content: "{{ lookup('aws_ssm', aws_ssm_k8s_config, region='ap-southeast-2') }}"

- name: Render K8s resource files
  template:
    src: "{{ item }}"
    dest: "{{ k8s_output_dir }}/{{ item | basename }}"
  with_fileglob:
    - k8s/*.yaml
  vars:
    ghcr_credentials: "{{ lookup('aws_ssm', '/github/ghcr/docker-config', region='ap-southeast-2') }}"

- name: Deploy to K8s
  block:
    - name: Create Namespace
      command: kubectl apply -f {{ k8s_output_dir }}/Namespace.yaml --kubeconfig {{ kube_config }}

    - name: Create Docker registry secret
      command: kubectl apply -f {{ k8s_output_dir }}/DockerRegistryCredentials.yaml --kubeconfig {{ kube_config }}

    - name: Deploy application
      command: kubectl apply -f {{ k8s_output_dir }} --kubeconfig {{ kube_config }}

    - name: Wait for successful deployment
      command: kubectl rollout status deployment front-end-deployment --kubeconfig {{ kube_config }} -n {{ k8s_namespace }}

- name: Delete output directory
  file:
    path: "{{ k8s_output_dir }}"
    state: absent
