.navigator {
    display: flex;
    flex: 1;
}

.navigatorTabs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 1em;
}

@media (width <= 35em) {
    .navigatorTabs {
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    }
}

.navigatorTab {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid color-mix(in srgb, var(--text-color) 40%, transparent);
    border-radius: 0.5em;
    padding: 0.75em;

    &:not(.isActive):hover {
        font-weight: 600;
        filter: brightness(0.75);
        transition: filter 0.2s, font-weight 0.2s;
    }

    &.isActive {
        font-weight: 800;
        background: color-mix(in srgb, var(--text-color) 10%, transparent);
    }
}