[data-theme="dark"] {
  --background-color: #222;
  --text-color: #eee;
  --link-color: #007bff;
  --active-tab-background-color: #0056b3;
  --active-tab-text-color: #0056b3;
  --card-background-color: #333;
  --card-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
}

[data-theme="light"] {
  --background-color: #eee;
  --text-color: #222;
  --link-color: blue;
  --active-tab-text-color: #0056b3;
  --card-background-color: #fff;
  --card-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}