.scheduledVideoGallery {
    display: flex;
    flex-wrap: wrap;
}

.scheduledVideoCard {
    flex: 1 0 20em;
    margin: 1em 0.5em;
    position: relative;

    .sourceLink {
        position: absolute;
        top: 65%;
        left: 10%;
    }
}
