.scheduledVideoGallery {
    display: flex;
    flex-wrap: wrap;
}

.scheduledVideoCard {
    flex: 1 0 20em;
    margin: 1em 0.5em;
}

.scheduledVideos {
    display: flex;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 0 0.5em;

    .scanForVideos {
        margin-right: 1em;
    }
}