.videoCard {
  .videoTimestamp {
    font-size: 0.8em;
    color: var(--text-color);
  }

  .videoId {
    font-size: 0.7em;
    color: var(--text-color);
    opacity: 0.5;
    text-align: right;
  }
}
