.videoSearch {
    display: flex;
    align-items: center;
}

.right {
    flex: 1;
    padding: 1em 2em 0 2em;

    .slider {
        padding: 0 0 1em 0;
    }
}

.left {
    flex: 1;
    padding: 1em 2em 0 2em;
    margin-right: 2em;

    .selectors {
        display: flex;
        align-items: center;

        .videoSiteSelector {
            flex: 4;
            margin: 1em 1em 1em 0;
        }

        .sortBy {
            flex: 1;
            min-width: 8em;
            margin: 1em;
        }

        .ordering {
            flex: 1;
            margin: 1em;
        }
    }
}