---
- hosts: localhost
  connection: local

  tasks:
    - name: Gather git information
      import_tasks: tasks/git-info.yml

    - set_fact:
        k8s_namespace: "video-downloader-front-end-{{ git_branch }}"
        hostname: "{{ git_branch }}.video.dev.ruchij.com"
        aws_ssm_k8s_config: /infrastructure/dev/k8s/config

    - name: Deploy to dev branch
      import_tasks: tasks/k8s-deploy.yml