---
- hosts: localhost
  connection: local

  tasks:
    - name: Gather git information
      import_tasks: tasks/git-info.yml

    - name: Install dependencies
      import_tasks: tasks/install-dependencies.yml

    - name: Build production bundle
      block:
        - name: Remove existing production bundle
          file:
            path: ../build
            state: absent

        - name: Build production bundle
          shell: |
            cd ../ && npm ci && npm run build

        - name: Zip production bundle
          archive:
            path: ../build/client/*
            dest: ../build/client.zip
            format: zip

    - name: Upload to S3
      block:
        - name: Create S3 bucket
          amazon.aws.s3_bucket:
            name: video-downloader-front-end-bundles.ruchij.com
            state: present

        - name: Upload production bundle to S3
          amazon.aws.s3_object:
            bucket: video-downloader-front-end-bundles.ruchij.com
            object: "{{ git_branch }}/{{ git_commit }}/client.zip"
            src: ../build/client.zip
            mode: put


