name: video-downloader-front-end pipeline

on:
  push:
    branches:
      - "**"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  transpile-and-test:
    name: Transpile and Test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Typecheck
        run: npm run typecheck

      - name: Lint
        run: npm run lint

      - name: Execute test suite with coverage
        run: npm run test:coverage

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: Vitest Tests
          path: test-results/junit.xml
          reporter: java-junit

      - name: Coverage Summary
        uses: irongut/CodeCoverageSummary@v1.3.0
        if: success() || failure()
        with:
          filename: coverage/cobertura-coverage.xml
          badge: true
          format: markdown
          output: both
          thresholds: "60 80"

      - name: Write Coverage to Summary
        if: success() || failure()
        run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: coverage-report
          path: coverage/

  test-cdk-deployment:
    name: Test CDK Deployment
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: cdk-deploy/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: cdk-deploy

      - name: Execute test suite
        run: npm run test
        working-directory: cdk-deploy

  upload-bundle:
    name: Upload bundle to S3
    runs-on: ubuntu-latest
    needs:
      - test-cdk-deployment
      - transpile-and-test

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: video-downloader-front-end-s3-publish
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Build and Publish Docker image
        run: ansible-playbook playbooks/s3-upload.yml

  build-and-publish-docker-image:
    name: Build and Publish Docker image
    runs-on: ubuntu-latest
    needs:
      - transpile-and-test
      - test-cdk-deployment

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: video-downloader-front-end-docker-publish
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Build and Publish Docker image
        run: ansible-playbook playbooks/build-and-publish-docker-image.yml

  deploy-to-dev:
    name: Deploy to Dev
    runs-on: ubuntu-latest
    needs:
      - upload-bundle

    if: github.ref != 'refs/heads/main'

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: video-downloader-front-end-deploy
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Install deploy dependencies
        run: npm ci
        working-directory: cdk-deploy

      - name: Deploy to S3 & Cloudfront
        run: npm run deploy
        working-directory: cdk-deploy

  deploy-to-staging:
    name: Deploy to Staging
    runs-on: ubuntu-latest
    needs:
      - upload-bundle

    environment: Staging

    if: github.ref == 'refs/heads/main'

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: video-downloader-front-end-deploy
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Install deploy dependencies
        run: npm ci
        working-directory: cdk-deploy

      - name: Deploy to S3 & Cloudfront
        run: npm run deploy
        working-directory: cdk-deploy

  deploy-to-production:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs:
      - deploy-to-staging

    environment: Production

    if: github.ref == 'refs/heads/main'

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ap-southeast-2
          role-session-name: video-downloader-front-end-deploy
          role-to-assume: "arn:aws:iam::365562660444:role/github_iam_role"

      - name: Install deploy dependencies
        run: npm ci
        working-directory: cdk-deploy

      - name: Deploy to S3 & Cloudfront
        run: ENVIRONMENT=production npm run deploy
        working-directory: cdk-deploy

      - name: Create GitHub release
        run: ansible-playbook playbooks/github-release.yml

  send-notification:
    runs-on: ubuntu-latest
    if: always()

    permissions:
      id-token: write

    needs:
      - transpile-and-test
      - test-cdk-deployment
      - build-and-publish-docker-image
      - deploy-to-dev
      - deploy-to-staging
      - deploy-to-production

    steps:
      - name: Send Slack notification
        uses: ruchira088/slack-github-action@v1
